body{clear: both;
 
    margin: 0%;
       background-image: linear-gradient( 
   270deg
    , #101010 0%, #6474a0 74%);
   }
   header{background-image: linear-gradient( 
    79deg
     , #1c2f4a 0%, #4cd5de 74%);
     border-radius: 63px;
    }
   header:hover{border-radius: 63px;
    background-image: linear-gradient(
    185deg
    , #1c2f4a 0%, #4cd5de 74%);
      color: #6474a0;}
  
   .logo {border-radius: 63px;text-align: center;padding: 10px;box-shadow: 5px 5px rgb(26, 16, 16) ; }
  
   .li1 { margin: 0}
    .li1 li {display: inline-block; vertical-align: middle;padding: 10px;font-size: 30px;}
   #img1 {border-radius: 63px; box-shadow: 5px 5px rgb(2, 44, 68);
}
.lt{ color: #e7e7e7;
    text-decoration: none;
    border: 4px solid;
    padding: 15px;
    border-radius: 36px}
    .lt:hover{
        background: #fff;
        color: #6474a0;}
       #imgco{float: right;margin-right: 300px;padding-top: 50px;}
       #img2 {border-radius: 63px; box-shadow: 5px 5px rgb(0, 0, 0);border: solid 5px rgb(0, 0, 0);}
       #img3co{float: right;margin-right: 263px;padding-top: 50px;}
       #img3{border-radius: 63px; box-shadow: 5px 5px rgb(1, 2, 2);border: solid 5px rgb(2, 3, 3);}

#p1{margin: 50px; text-align: left;border: solid black ;border-radius: 63px;float:left;padding: 25px;color: black;background-image: linear-gradient( 
    79deg
     , #ffffff 0%, #48c7db); margin-right: 50px;}
#article2{clear: both;}
#list{margin-top: 20px; text-align: left;border: solid black ;border-radius: 63px;float:left;padding: 25px;color: black;background-image: linear-gradient( 
    79deg
     , #ffffff 0%, #48c7db); margin: 50px;width: 350px;font-size:150;margin-bottom: 50px;}
footer{background-image: linear-gradient( 
    79deg
     , #1c2f4a 0%, #4cd5de 74%);border: solid black;
     border-radius: 63px;clear: both;height: 100px; ;}
     footer:hover{border-radius: 63px;
        background-image: linear-gradient(
        185deg
        , #1c2f4a 0%, #4cd5de 74%);
          color: #6474a0;}
